.design{

}
body{

    margin: 5%;
    background-image: url(img9.jpg);
}
.head{
    font-size: larger;
}
h1{
    color: yellow;
    padding: 0px;
    font-size:xx-large;
    }
.container
{
   margin: 50px auto;
   width: 450px;
}
.button{
    width: 12%;
}
.button1{
    width: 50%;
}
.contain{
    margin: 50px auto;
    width: 500px;
}
.first{
    background-color: chocolate;
    padding: 20px;
    float: left;
    width: 20%;
}
